/* Shared styles */
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

*{
    margin: 0;
    padding: 0;
}

.display-flex{
    display: flex;
}


/* navbar section style */
nav{
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    margin: 0 auto;
    padding: 1.5rem 12rem;
    background-color: #1A0B2E;
}

nav .icon-bar{
    display: none;
}

.nav-items{
    list-style: none;
    gap: 2rem;
    
}

.nav-items a{
    font-size: 1rem;
    font-weight: 500;
    color: #FFFFFF;
    text-decoration: none;

}

nav h1{
    font-size:3rem ;
    font-weight: bold;
    color: #FFFFFF;
}

nav h1 .wave{
    background:linear-gradient(to right, #F7E93F,#FB09B4,#9100F8);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.btn{
    padding: 1rem 2rem;
    background:linear-gradient(to right, #F7E93F,#FB09B4,#9100F8);
    border: none;
    border-radius: 10000px;
    font-size: 1rem;
    font-weight: 500;
    color: #FFFFFF;
}

/* banner section style */
.banner{
    background: url(./assets/hero-bg.png);
    width: 100%;
    height: 760px;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner .top-1{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.banner .top-2{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.banner .badge{
    background-color: #00FF88;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 1000px;
    font-weight: 500;
    font-size: 1.2rem;
    position: absolute;
    top: 16%;
    left: 57%;
    transform: translate(-5%, -10%);

}

.text-content{
    margin-top: 25rem;
    text-align: center;
}

.text-content h1{
    font-size: 3.75rem;
    font-weight: bolder;
    color: #FFFFFF;
    margin-bottom: .5rem;
}

.text-content p{
    font-size: 1rem;
    color: #FFFFFF;
    margin-bottom: 1.5rem;
}

.banner-btn{
    padding: .75rem 1.25rem;
    background-color: transparent;
    border: 2px solid #00FF88;
    border-radius: 10000px;
    font-size: 1rem;
    font-weight: 500;
    color: #00FF88;
}








/* responsive Media */

@media screen and (max-width:576px) {

    nav{
        padding: 1rem;
    }
    .nav-items, .btn{
        display: none;
    }
     nav .icon-bar{
        display: block;
    }



    
}

@media screen and (min-width:576px) and (max-width:992px) {
    nav{
        padding: 1rem 2rem;
    }
    
}

