/* Shared styles */
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

*{
    margin: 0;
    padding: 0;
}

.display-flex{
    display: flex;
}






/* navbar section style */
nav{
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    margin: 0 auto;
    padding: 1.5rem 12rem;
    background-color: #1A0B2E;
}

nav .icon-bar{
    display: none;
}

.nav-items{
    list-style: none;
    gap: 2rem;
    
}

.nav-items a{
    font-size: 1rem;
    font-weight: 500;
    color: #FFFFFF;
    text-decoration: none;

}

nav h1{
    font-size:3rem ;
    font-weight: bold;
    color: #FFFFFF;
}

h1 .wave{
    background:linear-gradient(to right, #F7E93F,#FB09B4,#9100F8);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

@keyframes animations{
    0% {background-color: #F7E93F;}
    25% {background-color: #FB09B4;}
    50% {background-color: #a96dd4;}
    100% {background-color: #038749;}
}

.btn{
    padding: 1rem 2rem;
    background-color: #F7E93F;
    border: none;
    border-radius: 10000px;
    font-size: 1rem;
    font-weight: 500;
    color: #FFFFFF;
    animation-name: animations;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-delay: 1s;

}

/* banner section style */
.banner{
    background: url(./assets/hero-bg.png);
    max-width: 100%;
    height: 760px;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner .top-1{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;

}

.banner .top-2{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
}

.banner .badge{
    background-color: #00FF88;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 1000px;
    font-weight: 500;
    font-size: 1.2rem;
    position: absolute;
    top: 16%;
    left: 57%;
    transform: translate(-5%, -10%);

}

.text-content{
    margin-top: 25rem;
    text-align: center;
}

.text-content h1{
    font-size: 3.75rem;
    font-weight: bolder;
    color: #FFFFFF;
    margin-bottom: .5rem;
}

.text-content p{
    font-size: 1rem;
    color: #FFFFFF;
    margin-bottom: 1.5rem;
}


.banner-btn{
    padding: .75rem 1.25rem;
    background-color: transparent;
    border: 2px solid #00FF88;
    border-radius: 10000px;
    font-size: 1rem;
    font-weight: 500;
    color: #00FF88;
    margin-bottom: 6rem;

}

.banner-btn2{
    padding: 1rem 2rem;
    background:linear-gradient(to right, #F7E93F,#FB09B4,#9100F8);
    border: none;
    border-radius: 10000px;
    font-size: 1rem;
    font-weight: 500;
    color: #FFFFFF;
    margin-bottom: 1rem;
    margin-right: 1rem;
}

/* .image-container img{} */


/* about section style */

.about{
    background-color: #1A0B2E;
}

.about .about-container{
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.about-container h1{
    font-size: 3rem;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 1rem;
    padding-top: 3rem;
}

.about-container p{
    font-size: 1rem;
    line-height: 1.25rem;
    color: #FFFFFF;
    margin-bottom: 2rem;
    font-weight: 400;

}

.card-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 5rem;
}

.card-container h1{
    font-size: 3rem;
    color: #00FF88;
}

.card-container p{
    font-size: 1rem;
    line-height: 1.25rem;
    color: #FFFFFF;
    font-weight: 400;
    padding-bottom: 7rem;

}


/* choose section style */
.choose-section{
    background-color: #230E3D;
}

.choose{
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;

}

.choose h1{
    font-size: 3rem;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 2.5rem;
    padding-top: 3rem;

}

.choose-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: minmax(150px, auto);
    gap: 2rem;
    padding-bottom: 6rem;
}

.left{
    grid-row: span 2;
    padding-top: 2.5rem;
}

.wide{
    grid-column: span 2;
}



.choose-container .choose-card{
    background-color: #351165;
    border: none;
    border-radius: 40px;
    text-align: left;
    padding: 2.5rem;
}



.choose-container h3{
    font-size: 1.5rem;
    font-weight: bold;
    color: #FFFFFF;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;

}

.choose-container p{
    font-size: 1rem;
    line-height: 1.25rem;
    color: #FFFFFF;
    font-weight: 400;

}

/* feature section style */
.feature-section{
    background-color: #1A0B2E;
}

.feature{
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.feature h1{
    font-size: 3rem;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 2.5rem;
    padding-top: 6rem;

}

.feature-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1.8rem;
    padding-bottom: 8rem;
}

.feature .feature-card{
    background-color: #250D44;
    width: 380px;
    border: none; 
    border-radius: 20px;
    text-align: left;

}

.feature-card iframe{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.feature-card h3{
    font-size: 1.5rem;
    font-weight: bold;
    color: #FFFFFF;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    padding: 0 1rem;
}


.feature-card p{
    font-size: 1rem;
    line-height: 1.25rem;
    color: #FFFFFF;
    font-weight: 400;
    padding: 0 1rem;
    margin-bottom: 1.5rem;

}

.minute{
    color: #00FF88;
    font-size: 1rem;
    font-weight: 500;
    padding-bottom: 1.5rem;
}

/* host section style */
.host-section{
    background-color: #1A0B2E;

}


.host{
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 7rem;

}

.host h1{
    font-size: 3rem;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 2.5rem;
    text-align: center;
}

.host-container{
    background-color: #351165;
    border: none;
    border-radius: 40px;
    padding: 2.5rem;
    display: grid;
    grid-template-columns: repeat(4,1fr);

}

.host-container .host-text{
    grid-column: span 3;
}

.host-text h2{
    color: #FFFFFF;
    font-size: 2rem;
    font-weight: bold;
    padding-bottom: 1rem;
}

.host-text p{
    color: #FFFFFF;
    font-size: 1rem;
    line-height: 1.5rem;
    padding-bottom: 1rem;
}

.host-text .host-icon img{
    border: 1px solid white;
    margin-right: .75rem;
    border-radius: 50%;
    padding: .75rem;
    
}

/*footer section style  */

footer{
    background: url(./assets/footer-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 412px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}



.footer-container h1{
    font-size:3.5rem ;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 1rem;
}

.footer-icon{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1.3rem;
}

.footer-icon p{
    font-size: 1rem;
    font-weight: 600;
    color: white;
    margin-bottom: 1.5rem;
}

.footer-container p{
    font-size: 1rem;
    font-weight: 600;
    color: white;
}









/* responsive Media */

@media screen and (max-width:576px) {

    nav{
        padding: 1rem;
    }
    .nav-items, .btn{
        display: none;
    }
     nav .icon-bar{
        display: block;
    }

    .banner{
        height: 32rem;
    }

    .text-content{
    margin-top: 25rem;
}

    .image-container .top-1{
        height: 12rem;
    }

    .image-container .top-2{
        height: 4.3rem;
    }

    .about .about-container{
        max-width: 100%;
    }

    .card-container{
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
}

.card-container p{
    padding-bottom: 1rem;
}

.about-container h1,p{
    padding-left: 1rem;
    padding-right: 1rem;
}

.choose-container{
   
    grid-template-columns: repeat(1,1fr);
    gap: 2rem;
    margin-left: 2rem;
    
}
.choose h1{
    margin-left: .5rem;
    margin-right: .5rem;
}

.feature-container{
    
    grid-template-columns: repeat(1,1fr);
    gap: 1rem;
    margin-left: 0.25rem;
    align-items: center;
}

.feature h1{
    margin-left: 1rem;
    margin-right: 1rem;
}

.feature .feature-card{
    width: 100%;
}

.host-container{
    grid-template-columns: repeat(1,1fr);
    text-align: center;
    margin-left: 1rem;
    margin-right: 1rem;

}

.host-text p{
    padding: 0 5px;
}
footer{
    max-width: 440px;
}

.footer-icon{
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
}

   
}





/* for medium devices */
@media screen and (min-width:576px) and (max-width:992px) {
    nav{
        padding: 1rem 2rem;
    }

    .card-container{
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;
    width: 100%;
}

.card-container p{
    padding-bottom: 1rem;
}

.feature-container{
    
    grid-template-columns: repeat(1,1fr);
    gap: 1rem;
    padding: 0 12rem;
}

.feature h1{
    margin-left: 1rem;
    margin-right: 1rem;
}

    
}


@media screen and (min-width: 993px) and (max-width: 1200px) { 
    .feature-container{
    
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
    padding: 0 12rem;
}

.feature h1{
    margin-left: 1rem;
    margin-right: 1rem;
}
}

